.column.first {
    margin-left: 0;
}

.column {
    margin-left: 2%;
    width: 100%;
}

.left {
    float: left;
}

div {
    display: block;
}

.sortable-list {
    list-style: none;
    min-height: 60px;
    padding: 10px;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.sortable-item {
    background-color: #FFF;
    border: 1px solid #F4F4F4;
    cursor: move;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px 0;
    text-align: center;
    width: 48%;
    float: left;
    margin: 1% 1%;
    text-align: left;
    padding: 10px 10px;
        line-height: 15px;
        background: #ECF0F5;
}

#submit-btn{
    margin-right: 26px;
    margin-top: 30px;
}

.close-item{
    line-height: 14px !important;
}
.page-listing h1,.my_style h1{
    font-size: 20px;
}
.menu-holder{
    background: transparent !important;
    margin-top: 5px;
}
.page-listing ul,.my_style ul{
    float: left;
    width: 100%;
}
.page-listing ul li i,.my_style ul li i{
    float: left;
}
.my_style ul li{
        border-left: 3px solid #D2D6DE;
}

.btn-dlt{
    margin-right: 5px;
}

.btn-create{
    margin-right: 23px;
}

.invoice{
    padding: 15px !important;
    border-top: 3px solid #d2d6de !important;
}

.box-title{
    font-size: 20px !important;
    font-weight: 400;
}

.view-any h1,.view-any h2,.view-any h3,.view-any h4,.view-any h5,.view-any h6{
    font-size: 18px !important;
}

.view-any p{
    font-size: 15px !important;
}

.view-title{
    font-weight: bold;
}